
   <table style="margin:10px;" class="mdl-data-table mdl-js-data-table mdl-shadow--2dp">
            <tr>
                <td>В работе </td>
                <td>{{stats.unfinished}} </td>
            </tr>
            <tr>
                <td>Последний час </td>
                <td>{{stats.lastHour}} </td>
            </tr>
            <tr>
                <td>Сегодня</td>
                <td> {{stats.today}} </td>
            </tr>
            <tr>
                <td>Среднее время обработки</td>
                <td> {{stats.avg}} </td>
            </tr>
            <tr>
                <td>Максимальное время обработки</td>
                <td> {{stats.max}} </td>
            </tr>
            
        </table>
        <p>{{error}}</p>